<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
   <body>
      <title>Plagiarism Detection</title>
	  <div class="container">
		<div class="row">

		  <form action="http://localhost:5000" method="POST">
		  	<div class="col-sm-9">
			 <div class="form-group  purple-border">
				  <label for="comment">Enter your text here:</label>
				  <textarea class="form-control" rows="5" id="comment" name="query" rows="5" cols="50" autofocus>{{query}}</textarea>
			</div>
			</div>
			<div class="col-sm-3">
			<button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
			</div>
		  </form>
		  </div>
		  
		<div class="row"> 
			<div class="col-sm-9">
			<textarea class="form-control" rows="5" id="comment" name="query" rows="5" cols="50" autofocus>{{output}}</textarea>
			</div>
		</div>
	</div>		
   </body>
</html>
